apiVersion: v1
kind: PersistentVolume
metadata:
  name: uploads-pv
  namespace: smartsplit
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data/uploads"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads-pvc
  namespace: smartsplit
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi